section.content
	div.btn-round.default
		span.btn-round__item.scroll-top
		span.btn-round__item.btn-call.animated.infinite.pulse 
	.container
		.row
			.col-lg-2.col-md-3
				aside.aside
					.filters
						p.filters__title Фильтры
						section.filter__section.filter-section
							p.filter-section__title Двигатель
							ul.filter
								each item,index in engineFilter
									li.filter__item
										label.custom-check(for=`engineFilter${index}`)
											input.custom-check__checkbox.check-B(type='checkbox', name='engineFilter', id=`engineFilter${index}`)
											span.custom-check__checkbox.check-B__background(data-ripple='false')
											span.custom-check__checkbox.check-B__checkbox
											span.custom-check__text #{item}
						section.filter__section.filter-section
							p.filter-section__title Привод
							ul.filter
								each item,index in driveFilter
									li.filter__item
										label.custom-check(for=`driveFilter${index}`)
											input.custom-check__checkbox.check-B(type='checkbox', name='driveFilter', id=`driveFilter${index}`)
											span.custom-check__checkbox.check-B__background(data-ripple='false')
											span.custom-check__checkbox.check-B__checkbox
											span.custom-check__text #{item}
						section.filter__section.filter-section
							p.filter-section__title Коробка передач
							ul.filter
								each item,index in gearFilter
									li.filter__item
										label.custom-check(for=`gearFilter${index}`)
											input.custom-check__checkbox.check-B(type='checkbox', name='gearFilter', id=`gearFilter${index}`)
											span.custom-check__checkbox.check-B__background(data-ripple='false')
											span.custom-check__checkbox.check-B__checkbox
											span.custom-check__text #{item}
						section.filter__section.filter-section
							p.filter-section__title Местонахождение
							ul.filter
								each item,index in positionFilter
									li.filter__item
										label.custom-check(for=`positionFilter${index}`)
											input.custom-check__checkbox.check-B(type='checkbox', name='positionFilter', id=`positionFilter${index}`)
											span.custom-check__checkbox.check-B__background(data-ripple='false')
											span.custom-check__checkbox.check-B__checkbox
											span.custom-check__text #{item}
					.clear-filters
						a(href="#" title="Сбросить фильтры")
							button.btn.clear Сбросить фильтры
			.col-lg-10
				main.main
					each item in cars
						article.model
									.model__image-wrap
										if item.discount == true
											span.model__discount-label.discount-label %
										else
										img.model__image(src=`${item.modelImage}`, alt=`${item.modelName}` title=`${item.modelName}`)
									.model__info
										h3.model__name 
											a.model__link(href="#" title=`${item.modelName}`) #{item.modelName}
										if item.discount == true
											.model__discount.discount
												p.discount__old-price #{item.modelPrice}
												p.discount__new-price #{item.modelDiscountPrice}
										else 
											p.model__price #{item.modelPrice}
										ul.model__params.params
											li.params__item 
												span.params__name Тип кузова: 
												span.params__val #{item.bodyType}
											li.params__item 
												span.params__name Год выпуска: 
												span.params__val #{item.yearOfIssue}
											li.params__item
												span.params__name Двигатель: 
												span.params__val #{item.engineType}
											li.params__item
												span.params__name Тип топлива:
												span.params__val #{item.fuelType}
											li.params__item
												span.params__name Коробка передач: 
												span.params__val #{item.gearType}
											li.params__item
												span.params__name Привод: 
												span.params__val #{item.driveType}
											li.params__item
												span.params__name Цвет кузова: 
												span.params__val #{item.bodyColor}
											li.params__item
												span.params__name Комплектация: 
												span.params__val #{item.equipment}
									.model__buttons
										+buttons
				.show-more
					a(href="#" title="Показать еще")
						button.btn Показать еще