extends ../_template

block variables
	- var title = 'Официальный дилер Киа в Беларуси, Автопалас-М Kia Минск. Продажа новых автомобилей Киа.'
	- var keywords = 'киа, kia,  киа Беларусь, киа Минск, официальный дилер киа, kia Беларусь, kia минск, сайт киа, дилер киа Минск, сайт Kia, Автопалас-М, kia.by, купить киа'
	- var description = 'Атлант-М на Независимости - Официальный дилер Kia Беларусь. Продажа автомобилей Киа, сервисное и гарантийное обслуживание, официальная гарантия Kia. Описание автомобилей киа, комплектация, цена.index.pug'

	- var engineFilter = ['2.0i Бензин', '1.6i Бензин' , '1.6d Дизель', '2.0d Дизель', '1.6 T-GDi Бензин']
	- var driveFilter = ['Полный', 'Передний']
	- var gearFilter = ['Автомат', 'Механика']
	- var positionFilter = ['На складе', 'В пути']
	- var buttons = ['Интересует это авто', 'Купить в рассрочку', 'Система Trade-In']
	- var contactTypeList = ['', 'По телефону', 'Сообщение в Вайбере', 'По электронной почте']
	-
		var cars = [
			{
				modelName:'Kia Sportage QLE',
				modelId:'3456',
				modelImage:'templates/_ares/images/black.png',
				modelPrice:'52 000',
				discount: true,
				modelDiscountPrice:'41 250',
				bodyType:'Универсал',
				yearOfIssue:'2017',
				engineType:'2.0i',
				fuelType:'Бензин',
				gearType:'Механика',
				driveType:'Полный',
				bodyColor:'1К-Черный металлик',
				equipment:'Start'
			},{
				modelName:'Kia Sportage QLE',
				modelId:'9012',
				modelImage:'templates/_ares/images/model3.png',
				modelPrice:'52 000',
				discount: true,
				modelDiscountPrice:'37 820',
				bodyType:'Универсал',
				yearOfIssue:'2017',
				engineType:'2.0i',
				fuelType:'Дизель',
				gearType:'Автомат',
				driveType:'Передний',
				bodyColor:'AA9-Красный металлик',
				equipment:'Active + Пакет Навигация'
			},
			{
				modelName:'Kia Sportage GT(+Package)',
				modelId:'5678',
				modelImage:'templates/_ares/images/model2.png',
				modelPrice:'54 413',
				discount: false,
				modelDiscountPrice:'0',
				bodyType:'Легковой джип',
				yearOfIssue:'2016',
				engineType:'1.6T-GDi',
				fuelType:'Бензин',
				gearType:'Механика',
				driveType:'Полный',
				bodyColor:'Светло-коричневый металлик',
				equipment:'Active'
			},{
				modelName:'Kia Sportage QLE',
				modelId:'1234',
				modelImage:'templates/_ares/images/model3.png',
				modelPrice:'52 000',
				discount: true,
				modelDiscountPrice:'37 820',
				bodyType:'Универсал',
				yearOfIssue:'2017',
				engineType:'2.0i',
				fuelType:'Дизель',
				gearType:'Автомат',
				driveType:'Передний',
				bodyColor:'AA9-Красный металлик',
				equipment:'Active + Пакет Навигация'
			}
		]
	mixin buttons
		ul.btn-block.btn-group
			each item in buttons
				li.btn-block__item
					a(href="#").btn-group__link
						case item
							when "Интересует это авто"
								button.btn.btn_color.interest.showForm(data-form="interest-auto") #{item}
							when "Купить в рассрочку"
								button.btn.payment #{item}
							when "Система Trade-In"
								button.btn.traidin #{item}
block content
	.layout
		.forms-wrapper
			.request-call
				form(method="POST" id="request-call-form")
					.form
						.close.form__close
						.color-title.form__title Заказать звонок
						ul.form-list
							li.form-list__item
								label.form__label(for="request-call1") Ваше имя
									span.star  *
								input.form__input(type="text", id="request-call1" class="validate[required]")
							li.form-list__item
								label.form__label(for="request-call2") Контактный телефон
									span.star  *
								input.form__input(type="text", id="request-call2" class="validate[required] phone")
						input.form__submit(type="submit", value="Отправить", id="request-call-form")
			.interest-auto
				form(method="POST" id="interest-auto-form")
					.form
						.close.form__close
						.color-title.form__title Интересует это авто
						ul.form-list
							input.form__input.form__input_modelId(type="hidden",)
							li.form-list__item
								label.form__label(for="interest-auto1") Ваше имя
									span.star  *
								input.form__input(type="text", id="interest-auto1", class="validate[required]")
							li.form-list__item
								label.form__label(for="interest-auto2") Контактный телефон
									span.star  *
								input.form__input(type="text", id="interest-auto2" class="validate[required] phone")
							li.form-list__item
								label.form__label(for="interest-auto3") Ваш e-mail
								input.form__input(type="text", id="interest-auto3" class="validate[required,custom[email]]")
							li.form-list__item
								label.form__label(for="interest-auto4") Желаемый способ связи
									span.star  *
								select.select(class="validate[required]")
									each option in contactTypeList
										option(value=`${option}`) #{option}
							li.form-list__item
								label.form__label(for="interest-auto5") Удобное время и дата
								input.form__input(type="text", id="interest-auto5")
						p.agreement Нажав кнопку «Отправить», я даю согласие на обработку моих персональных данных и получение рекламы. С условиями обработки персональных данных и получения рекламы, изложенными на сайте ознакомлен и согласен.
						input.form__submit(type="submit", value="Отправить")
	include ../common/_header
	include ../common/_content
	footer.footer
		.container.footer__container
			.row
				.footer__contacts.contacts
					span.contacts__title.color-title Контакты
					ul.contacts-list
						li.contacts-list__item
							p.contacts-list__title Адрес
							span.contacts-list__value г. Минск, пр. Независимости, 202/3
						li.contacts-list__item
							p.contacts-list__title Телефон
							span.contacts-list__value +375 17 266 40 20
						li.contacts-list__item
							p.contacts-list__title E-mail
							a.contacts-list__link(href="mailto:info@kia.by") info@kia.by
						li.contacts-list__item
							p.contacts-list__title Режим работы
							span.contacts-list__value Отдел продаж автомобилей:
							span.contacts-list__value Пн - Пт 9:00 - 20:00
							span.contacts-list__value Сб - Вс 10:00 - 18:00

		#map.footer__map
		.footer__bottom
			.container
				.row
					.col-xs-12
						.footer__logo
